.goto-deeper-card-image {
    transition: 100ms ease-in-out;
}
.goto-deeper-card-image:hover {
    filter: brightness(1.15);
}
.goto-deeper-card {
    transition: 100ms ease-in-out;
}
.goto-deeper-card:hover {
    transform: scale(0.95);
}
